.cards{
    border: 1px solid #cccccc;
    box-shadow: 0px 2px 2px lightgray;
    margin-right: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    padding-right: 14px;
    padding-left: 14px;
    margin-left: 14px;
    margin-top: 18px;
    max-width: 200px;
    background: white;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}
