.cards{
    border: 1px solid lightgray;
    box-shadow: 0px 1px 1px #cccccc;
    margin-right: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding-right: 14px;
    padding-left: 14px;
    border-radius: 12px;
    margin-left: 14px;
    margin-top: 18px;
    max-width: 200px;
    background: white;
}
