.homepage{
    margin: auto;
    width: 100vw;
    height: 850px;
    margin-top: 50px;
    background-color: #0188e2;
    display: flex;
    color: white;
}
.homepage-title{
    margin: auto;
    margin-top: 110px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
.homepage-content{
    height: 90%;
}
.profile{
    width: 240px;
    height: 260px;
    border-radius: 100px;
    margin-top: 10%;
}
.name{
    font-size: 90px;
    margin-top: 14px;
    margin-bottom: 4px;
}
.p1{
    margin-top: 14px;
    margin-bottom: 4px;
    font-size: 35px;
}
.connect{
    font-size: 60px;
    padding-top: 12px;
    padding-left: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}