.flexBox {
    width: 200px;
    height: auto;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 2px #cccccc;
    margin-top: 14px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 32px;
    padding-top: 4px;
    display: flex;
    padding-bottom: 32px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    text-align: center;
    padding-right: 32px;
}