.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 28px;
}
.subtitle{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0px;
    font-size: 22px;
    font-weight: 100;
}
.content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.timeline{
    height: 100%;
    background-color: rgb(240, 240, 240);
    padding: 4px;
    margin-left: 100px;
}
.experience-title{
    font-size: 34px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}