.card {
    width: 89%;
    height: 400px;
    border: 1px solid lightgray;
    box-shadow: 0px 2px 2px #cccccc;
    margin-top: 10px;
    margin-right: 4vw;
    margin-left: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 40px;
    padding-top: 4px;
}
h4 {
    font-size: 20px;
    margin-bottom: -8px;
    margin-top: 25px;
    padding-top: 4px;
}
p {
    margin-bottom: -8px;
}
.style1 {
    font-size: 18px;
}