.nameCard{
    width: 92%;
    background-color: inherit;
    border: 1px solid lightgray;
    margin-left: 4vw;
    margin-right: 4vw;
    box-shadow: 0px 2px 2px #cccccc;
    display: inline-block;
    overflow: hidden;
}
.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    float: left;
    padding-top: 25px;
}
.statusTag {
    font-size: 22px;
    padding-top: 37px;
    margin-right: 38px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 24px;
}
.profilePicture {
    width: auto;
    height: 90px;
    border-radius: 100px;
    float: left;
    padding: 24px;
    margin-left: 38px;
}

